.dashboard-container {
    position: fixed;
    top: 0px;
    z-index: 2000;

  }
  
  .sidebar {
    width: 20vw;
    height: 100vh;
    background-color: rgb(23, 27, 46);
    padding: 20px;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #fefefe;
  }
  
  .main-content {
    width: 20vw;
    flex-grow: 1;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #bd66f1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% 100% 0% 0%;
  }

  .dashicons{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
  }
  .dashicons:hover{
    color: #1272E8;
    
  }
  